body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

header {
    width: 100%;
    height: 69px;
    position: fixed;
    top: 0px;
    background-color: black;
    z-index: 1;
}

.nav {
    float: right;
    display: table;
    list-style-type: none;
}

.nav a {
    color: seashell;
    text-decoration: underline;
    display: table-cell;
    padding: 0px 20px;
}

#logo {
    height: 50px;
    top: 0;
    padding-left: 10px;
    float: left;
    align-items: center;
    position: relative;
    top: -15px;
}

#logo img {
    height: 100%;
    width: auto;
}

#mission {
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg');
    background-position: center;
    position: relative;
    margin: 69px auto;
    width: 1200px;
    height: 700px;
    display: flex;
    align-items: center;
}

#featured {
    width: 1000px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0px;

}

main figure {
    width: 300px;
    height: 200px;
    padding: 20px 10px 80px 10px;
    margin: 0px;
}

figure img {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

figcaption{
    font-weight: bold;
}

#text {
    width: 100%;
    background-color: black;
    text-align: center;
}

#locations{
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg');
    background-position: center;
    width: 1200px;
    height: 500px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 40px;
}

.box{
    background-color: black;
    width: 300px;
    height: 300px;
    margin: 15px 40px;
    opacity: .9;
}

#locations h2{
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    position: relative;
    top: 53px;
}

#footer{
    height: 200px;
}

#copyright{
    text-align: left;
    padding-left: 20px;
}