body{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

header{
    width: 100%;
    height: 69px;
    position: fixed;
    top: 0px;
    background-color: black;
}

.nav{
    float: right;
    display: table;
    list-style-type: none;
}

.nav a{
    color: seashell;
    text-decoration: underline;
    display: table-cell;
    padding: 0px 20px;
}

#logo{
    height: 50px;
    top: 0;
    padding-left: 10px;
    float: left;
    align-items: center;
    position: relative;
    top: -15px;
}

#logo img{
    height: 100%;
}


